<div class="dl dl--grid dl--half-half clearfix">
    <div class="dl__item">
        <strong class="dl__term">Written by</strong>
        <span class="dl__definition">Ellen Goodwin</span>
    </div>
    <div class="dl__item">
        <strong class="dl__term">Published on</strong>
        <time class="dl__definition" datetime="2014-08-17">17 Sep 2014</time>
    </div>
</div>