<div class="rich-content rich-content-section full-wrap">
    <p class="emphasis">Two art technicians that have worked with some of the most prestigious artists to graduate from Goldsmiths are putting on an exhibition of sculptural and textual works. Throughout their years of aiding art students, they have developed an obsession with the process of making, which is apparent in both of their works.</p>

    {{> media-block-slider}}

    <p>In obsessively trying to construct the ‘perfect’ piece of work to define and embody their creativity, Brian and Helen have learnt that the process of creation is often more interesting and meaningful than the initial idea; that process embellishes and deepens the object’s identity.Musings will explore these ideas – from Brian’s use of plaster to create soft aesthetic sculptures, through to Helen’s use of fabrics combined with hard metals.</p>

    {{> media-block-image-gallery}}

    <p>In obsessively trying to construct the ‘perfect’ piece of work to define and embody their creativity, Brian and Helen have learnt that the process of creation is often more interesting and meaningful than the initial idea; that process embellishes and deepens the object’s identity.Musings will explore these ideas – from Brian’s use of plaster to create soft aesthetic sculptures, through to Helen’s use of fabrics combined with hard metals.</p>

    {{> media-block-video}}

    <p>In obsessively trying to construct the ‘perfect’ piece of work to define and embody their creativity, Brian and Helen have learnt that the process of creation is often more interesting and meaningful than the initial idea; that process embellishes and deepens the object’s identity.Musings will explore these ideas – from Brian’s use of plaster to create soft aesthetic sculptures, through to Helen’s use of fabrics combined with hard metals.</p>

    {{> quote-block-centred}}

    <p>In obsessively trying to construct the ‘perfect’ piece of work to define and embody their creativity, Brian and Helen have learnt that the process of creation is often more interesting and meaningful than the initial idea; that process embellishes and deepens the object’s identity.Musings will explore these ideas – from Brian’s use of plaster to create soft aesthetic sculptures, through to Helen’s use of fabrics combined with hard metals.</p>

    {{> quote-block-floated}}

    <p>In obsessively trying to construct the ‘perfect’ piece of work to define and embody their creativity, Brian and Helen have learnt that the process of creation is often more interesting and meaningful than the initial idea; that process embellishes and deepens the object’s identity.Musings will explore these ideas – from Brian’s use of plaster to create soft aesthetic sculptures, through to Helen’s use of fabrics combined with hard metals.</p>

    {{> media-block-image}}

    <h3>Inline Heading</h3>
    <p>Between them, Brian Jarvis and Helen Weston have worked at Goldsmiths for over forty years. In this time, they have helped students to take their ideas and transform them into reality. Students who have benefitted from their expertise include: Sarah Lucas, Sam Taylor-Johnson and even, briefly, Damien Hirst.</p>

    <ul>
        <li>Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
        <li>Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
        <li>Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
    </ul>

    <p>Between them, Brian Jarvis and Helen Weston have worked at Goldsmiths for over forty years. In this time, they have helped students to take their ideas and transform them into reality. Students who have benefitted from their expertise include: Sarah Lucas, Sam Taylor-Johnson and even, briefly, Damien Hirst.</p>

    <ol>
        <li>Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
        <li>Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
        <li>Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
    </ol>

    <p>The exhibition will take place in the New Academic Building, at Goldsmiths, between 9 and 24 October. This exhibition will be a part of the Made in Goldsmiths event series, which celebrates the excellent work that takes place at Goldsmiths – from academics through to successful alumni.</p>

    {{> author-block}}
</div>
