<div class="author">
    <img class="author__photo" src="http://placehold.it/400&text=Author" alt="Photo of Dhiraj Murthy"/>

    <div class="author__info">
        <h2 class="author__name">Dhiraj Murthy</h2>
        <span class="author__function">Reader, Department of Art</span>
        <a class="author__twitter" href="#">@DhirajMurthy</a>
    </div>
</div>