<figure class="media-block media-block__slider media-block--overlapping-caption">
    <div class="media-block__slider-wrapper">
        <div class="media-block__slider-slide" data-slide-caption="Caption 1">
            <img alt="Alt text" src="/random.php?cb={{random 0 10000}}">
        </div>
        <div class="media-block__slider-slide" data-slide-caption="Caption 2">
            <img alt="Alt text" src="/random.php?cb={{random 0 10000}}">
        </div>
        <div class="media-block__slider-slide" data-slide-caption="Caption 3">
            <img alt="Alt text" src="/random.php?cb={{random 0 10000}}">
        </div>
        <div class="media-block__slider-slide" data-slide-caption="Caption 4">
            <img alt="Alt text" src="/random.php?cb={{random 0 10000}}">
        </div>
    </div>

    <figcaption class="media-block__caption">
        <span class="slider-page">page</span>
        <p class="slider-caption">caption</p>
    </figcaption>
</figure>
