<div class="media-block media-block__gallery clearfix">
    <a class="media-block__gallery-image modal-window__gallery" rel="gallery" href="/_assets/img/tmp/hero.jpg"><img alt="Alt text" src="/_assets/img/tmp/hero.jpg"></a>
    <a class="media-block__gallery-image modal-window__gallery" rel="gallery" href="/_assets/img/tmp/hero.jpg"><img alt="Alt text" src="/_assets/img/tmp/hero.jpg"></a>
    <a class="media-block__gallery-image modal-window__gallery" rel="gallery" href="/_assets/img/tmp/hero.jpg"><img alt="Alt text" src="/_assets/img/tmp/hero.jpg"></a>
    <a class="media-block__gallery-image modal-window__gallery" rel="gallery" href="/_assets/img/tmp/hero.jpg"><img alt="Alt text" src="/_assets/img/tmp/hero.jpg"></a>
</div>
