<figure class="media-block media-block--overlapping-caption">
    <div class="media-block__media">
        <div class="media-block__video media-block__video--ratio-16-9">
            <a href="#" class="media-block__video__play media-block__video__cover-image">
                <img alt="Alt text" src="/random.php?cb={{random 0 10000}}">
            </a>
            <iframe src="//player.vimeo.com/video/117890578?color=ff9933&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <figcaption class="media-block__caption media-block__caption--with-leading-block">Vestibulum auctor nisi id lacus feugiat consequat. In vitae ex tortor. Aliquam erat volutpat. Aliquam erat volutpat. Proin sit amet suscipit ligula, id malesuada ipsum. Etiam vitae neque.</figcaption>
</figure>
