<blockquote class="quote-block quote-block--centred quote-block--with-quotation-marks">
    <p>Pellentesque in ultricies est. Aenean congue bibendum sem ut auctor. In gravtida, tortor eu. Pellentesque vulputate, odio placerat tincidunt tempor, mi erat.</p>
</blockquote>