<blockquote class="quote-block quote-block--floated quote-block--with-quotation-marks">
    <p>Pellentesque in ultricies est. Aenean congue bibendum sem ut auctor.  In gravida, tortor eu.</p>
</blockquote>