<!-- start: page layout header -->
{{> header}}
{{> site-header}}

<!-- Main wrapper -->
<main id="main-wrapper" role="main">
    <div id="content">

        <!-- include page content type here -->
        {{> body}}
            
    </div>
</main>
{{> footer}}
<!-- end: page layout footer -->