/*
* Flag Object - Aligns an image vertically next to a block of text.
*/

.flag {
    display: table;
    width: 100%;

    &__figure,
    &__body {
        display: table-cell;
        vertical-align: middle;

        .flag--top & {
            vertical-align: top;
        }

        .flag--bottom & {
            vertical-align: bottom;
        }

    }

    &__figure {
        padding-right: $base-spacing;

        > img {
            display: block;
            max-width: none;
        }

        &--rev & {
            padding-right: 0;
            padding-left: $base-spacing;
        }

    }

    &__body {
        width: 100%;
    }
}