<div class="dl dl--grid dl--browse-by clearfix">
	<div class="dl__item department">
		<strong class="dl__term ">Department</strong>
		<div class="columns">
			<a href="department.html">Anthropology</a>
			<a href="department.html">Art</a>
			<a href="department.html">Center for Cultural Studies</a>
			<a href="department.html">Center for English Language and Academic Writing</a>
			<a href="department.html">Computing</a>
			<a href="department.html">Confucius Institute for Dance and Performance</a>
			<a href="department.html">Design</a>
			<a href="department.html">Educational Studies</a>
			<a href="department.html">English and Comparative Literature</a>
			<a href="department.html">History</a>
			<a href="department.html">Institute for Creative and Cultural Entrepreneurship</a>
			<a href="department.html">Institute of Management Studies</a>
			<a href="department.html">Media and Communications</a>
			<a href="department.html">Music</a>
			<a href="department.html">Politics</a>
			<a href="department.html">Psychology</a>
			<a href="department.html">Social, Therapeutic Community Studies</a>
			<a href="department.html">Sociology</a>
			<a href="department.html">Theatre and Performance</a>
			<a href="department.html">Visual Cultures</a>
		</div>
	</div>
	<div class="dl__item level">
		<strong class="dl__term">Level</strong>
		<a href="#">Undergraduate</a>
		<a href="#">Postgraduate</a>
		<a href="#">Study abroad</a>
		<a href="#">Short courses</a>
		<a href="#">PGCE</a>
	</div>
</div>