<div class="speakers-layout">
	<div class="group-1">
		<h2 class="section__heading">Search for a speaker</h2>
		{{> teaser-search-for-a-speaker}}
	</div>
</div>


<div class="content-4col-layout clearfix">
	<div class="group-1">
		<h2 class="section__heading">Recent speakers</h2>
		{{> teaser-recent-speakers}}
		{{> teaser-recent-speakers}}
		{{> teaser-recent-speakers}}
		{{> teaser-recent-speakers}}
	</div>
</div>

<div class="content-4col-layout clearfix">
	<div class="group-1">
		<h2 class="section__heading">Podcasts by department</h2>
		{{> teaser-podcasts-by-department}}
		{{> teaser-podcasts-by-department}}
		{{> teaser-podcasts-by-department}}
		{{> teaser-podcasts-by-department}}
	</div>
</div>