<div class="content-grid-layout clearfix">
	<div class="group-1">
		{{> teaser-page}}
		{{> teaser-page}}
		{{> teaser-page}}
		{{> teaser-page}}
		{{> teaser-page}}
		{{> teaser-page}}
		{{> teaser-page}}
		{{> teaser-page}}
	</div>
</div>