<div class="content-grid-layout clearfix">
	<div class="group-1">
		{{> teaser-programme}}
		{{> teaser-programme}}
		{{> teaser-programme}}
		{{> teaser-programme}}
		{{> teaser-programme}}
		{{> teaser-programme}}
		{{> teaser-programme}}
		{{> teaser-programme}}
	</div>
</div>