<div class="section-course-search full-width-layout clearfix">
	<div class="full-width fluid-search">
		<form role="search" class="course-search course-search--keyline">
			<label for="search-courses" class="fluid-search__label">What course are you looking for?</label>
			<input type="text" class="fluid-search__input" name="search-courses" placeholder="Search courses">
			<input type="submit" class="fluid-search__submit" name="hero-search" value="Search" />
		</form>
	</div>
</div>