<div class="content-4col-layout clearfix">
	<div class="group-1">
		<h2 class="section__heading">Recently updated series</h2>
		{{> teaser-recently-updated-series}}
		{{> teaser-recently-updated-series}}
		{{> teaser-recently-updated-series}}
		{{> teaser-recently-updated-series}}
		<div class="teaser__btn-align"><a href="#" class="btn btn--dark">See all series</a></div>
	</div>
</div>