<div class="content-3col-layout clearfix">
	<div class="group-1">
		{{> teaser-expert}}
		{{> teaser-expert}}
		{{> teaser-expert}}
		{{> teaser-expert}}
		{{> teaser-expert}}
		{{> teaser-expert}}
	</div>
</div>