<div class="content-2col-layout content-2col-layout--medium-3-col clearfix">
	<div class="group-1">
		{{> teaser-theme}}
		{{> teaser-theme}}
		{{> teaser-theme}}
		{{> teaser-theme}}
		{{> teaser-theme}}
		{{> teaser-theme}}
	</div>
</div>