<div class="content-grid-layout">
	<div class="group-1">
		<h2 class="section__heading section__heading section__heading--has-borders full-width">November 2014</h2>
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-section-start}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-section-start}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-section-start}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		<a href="#" class="btn btn--load-more full-width">Load more events</a>
	</div>
</div>