<div class="content-grid-layout">
	<div class="group-1">
		{{> teaser}}
		{{> teaser-widescreen}}
		{{> teaser-text }}
		{{> teaser}}
		{{> teaser}}
		{{> teaser}}
		{{> teaser}}
	</div>
</div>