<div class="content-grid-layout">
	<div class="group-1">
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
		{{> teaser-split-transparent}}
	</div>
</div>