<div class="content-news-layout">
	<div class="group-1">
		<h2 class="section__heading">News</h2>
		{{> teaser-split}}
		{{> teaser-split}}
		{{> teaser-split}}
	</div>
	<div class="group-1">
		<h2 class="section__heading">Events</h2>
		{{> teaser-split}}
		{{> teaser-split}}
		{{> teaser-split}}
	</div>
</div>