<div class="podcasts clearfix">
	<div class="podcasts__container clearfix">
		<div class="group group-heading">
			<div class="podcasts__heading-title">Title</div>
			<div class="podcasts__heading-date">Date</div>
			<div class="podcasts__heading-series">Series</div>
			<div class="podcasts__heading-speakers">Speakers</div>
		</div>
		<div class="group group-1">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-2">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-3">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-4">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-5">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-6">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-7">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-8">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-9">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-10">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-11">
			{{> teaser-podcasts-all}}
		</div>
		<div class="group group-12">
			{{> teaser-podcasts-all}}
		</div>
	</div>
</div>