<div class="section-welcome welcome-layout">
	<h2 class="section__heading visuallyhidden">What's new</h2>
	<div class="group-1">
		{{> teaser-welcome}}
	</div>
	<div class="group-2">
		{{> teaser-with-body}}
		{{> teaser}}
		{{> teaser-widescreen}}
	</div>
</div>
