<div class="content-3col-layout clearfix">
	<div class="group-1 group-border__bottom group-border__circle">
		{{> teaser-gold-stories}}
		{{> teaser-gold-stories}}
		{{> teaser-gold-stories}}
		{{> teaser-gold-stories}}
		{{> teaser-gold-stories}}
		{{> teaser-gold-stories}}
	</div>
</div>