<div class="content-grid-layout clearfix">
	<div class="group-1">
		{{> teaser-widescreen}}
		{{> teaser-with-meta}}
		{{> teaser-text}}
		{{> teaser}}
		{{> teaser-with-meta}}
		{{> teaser-widescreen}}
	</div>
</div>