<div class="content-mini-layout">
	<div class="group-1">
		<h2 class="section__heading">News</h2>
		{{> teaser-mini}}
		{{> teaser-mini}}
		{{> teaser-mini}}
	</div>
	<div class="group-1">
		<h2 class="section__heading">Events</h2>
		{{> teaser-mini}}
		{{> teaser-mini}}
		{{> teaser-mini}}
	</div>
</div>