<div class="rich-content rich-content-section full-wrap">
    <p class="emphasis">Damien Steven Hirst is an English artist, entrepreneur, and art collector. He is the most prominent member of the group known as the Young British Artists, who dominated the art scene in the UK during the 1990s.</p>

    <p>More than 463,000 people visited the Damien Hirst exhibition last year at the Tate Modern, making it the most successful solo show for the gallery. The works on display included several pieces dating back to the late 1980s, when Damien was studying for his BA in Fine Art at Goldsmiths. Current Head of the Department of Art, Dr Richard Noble, recently met with Hirst to talk about his time at Goldsmiths, his fellow artists and their role in redefining the British art scene at the time. Here are the extracts from that conversation. </p>

    {{> quote-block-centred}}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae maximus lorem. Suspendisse viverra eu augue eu pharetra. Nulla vitae sagittis est, in ultrices velit. Aenean ultricies blandit neque, sed faucibus nunc posuere eget. Vestibulum dapibus dolor eu quam iaculis, a fringilla purus convallis. Quisque pretium, orci sed auctor lobortis, leo tortor consectetur urna, a gravida tellus lacus at lectus. Donec metus turpis, accumsan quis nisl et, elementum egestas quam. Curabitur scelerisque ipsum est, eget lobortis neque finibus at. Pellentesque vestibulum porttitor felis. Aenean lacinia fringilla odio eget convallis.</p>

    <p>Nunc ornare est sed purus commodo condimentum. In non efficitur urna. Mauris eu odio non tellus rhoncus dapibus ut nec ante. Aenean tempus suscipit vestibulum. Aliquam erat volutpat. Morbi porta euismod dignissim. Integer vestibulum ut ligula in scelerisque. Vivamus sed accumsan sapien. Praesent eget faucibus lacus. Vestibulum gravida nunc neque, vel tempor lectus blandit at.</p>

    <p>Sed id ornare justo. Nulla facilisis euismod sem a placerat. In hendrerit egestas nisl, at eleifend odio. Duis ullamcorper tristique maximus. Aliquam tempor lobortis condimentum. Nam lobortis elit sagittis nisi porttitor, a euismod nisl iaculis. Nulla vitae accumsan magna, in tristique neque. Integer augue lacus, accumsan non egestas in, posuere eget orci. Maecenas vel dictum augue. Aenean pharetra dignissim felis non lobortis. Fusce malesuada felis justo, eget dapibus arcu elementum at.</p>
</div>
