    <!-- Collapsible sidebar -->
    <div id="sidebar">

        <!-- Widget Area -->
        <div id="widgets">

            <!-- Main menu -->
            <nav id="mainmenu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="treatments">Treatments</a></li>
                    <li><a href="offers">Offers</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <li><a href="location-times">Location + Times</a></li>
                    <li><a href="contact">Make a booking</a></li>
                </ul>
            </nav>

        </div>

    </div>

	<!-- Require JS Development
	<script data-main="/framework/src/js/main" src="/framework/src/js/libs/require.js"></script>-->
	<!-- Require JS Production -->
	<script src="{{assets}}js/all.js"></script> 
 
</body>
</html>





