<!-- Preloader -->
<div id="preloader">
	<div id="status"></div>
</div>

<!-- Overlay -->
<div id="overlay"></div>

<!-- Top header -->
<div id="top">

	<!-- Sidebar button -->
	<a href="treatment#" id="sidebar-button"></a>

	<!-- Logo -->
	<header id="logo">
       	<a href="/"><h1>Beauty By Butterflies</h1>
       	<h2>Morley, Leeds</h2></a>
	</header>

</div>