---
title: Home
author: Danny
---

<div class="swiper-container">
   	<div class="swiper-wrapper">
       	
       	<div class="swiper-slide" style="background-image: url({{assets}}img/slides/1.jpg);">
           	<h1><i>"AFFORDABLE BEAUTY WITHOUT COMPROMISING ON LUXURY"</i></h1>
        </div>
            
        <div class="swiper-slide" style="background-image: url({{assets}}img/slides/2.jpg);">
           	<h1><i>"AFFORDABLE BEAUTY WITHOUT COMPROMISING ON LUXURY"</i></h1>
        </div>
        
    </div>
</div>
