<div class="teaser teaser--podcasts {{class}}">
		<div class="podcasts__title">
			<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
				<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
			</div>
			<div class="teaser__body">
				<p><a href="#">Black Bodies and Britian's Culural Institutions</a></p>
			</div>
		</div>

		<div class="podcasts__date">
			<div class="teaser__body">
				<p>Wed 16 Jan 2015</p>
			</div>
		</div>
		
		<div class="podcasts__series">
			<div class="teaser__body">
				<p>Black British Writers in Conversation</p>
			</div>
		</div>
		
		<div class="podcasts__speakers">
			<div class="teaser__body">
				<p>Courttia Newland, Robbie Shilliam, Sara Myers</p>
			</div>
		</div>
</div>
