<article class="teaser teaser--section teaser--transparent {{class}}">
	<div class="teaser__large-marker">
        <!-- teaser__marker-day-XX - XX denotes the date (without leading zeros) -->
        <span class="teaser__marker-text teaser__marker-day teaser__marker-day-24">24</span>
	</div>
	<div class="teaser__panel">
		<h3 class="teaser__title">Thursday—3 events</h3>
	</div>
</article>