<article class="teaser teaser--welcome teaser--with-more {{class}}">
		<div class="teaser__panel">
			<h3 class="teaser__title">Welcome to Goldsmiths, University of London</h3>
			<div class="teaser__body">
				<p>A close knit community, a rich academic heritage, a create powerhouse, a thoughtprovoking place.</p>
			</div>
			<a class="teaser__action" href="#">Watch our story</a>
		</div>
</article>