<article class="teaser teaser--theme media">
		<a href="#">
			<div class="media__figure"><!-- media__figre requires a width to contain our teaser image-->
				<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
					<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
				</div>
			</div>
		</a>
		<div class="teaser__body media__body">
			<h3 class="teaser__title"><a href="#">Entrepeneural Business</a></h3>
			<p>Morbi ac mauris et diam interdum mollis. Maecenas mollis ex non posuere lacinia. Nunc lacus diam, malesuada id dolor id.</p>
			<a href="#" class="teaser__more">Visit the site</a>
		</div>
</article>
