<article class="teaser teaser--image teaser--with-more">
	<a href="#">
		<div class="teaser__image teaser__image-large" style="background-image:url('/random.php?cb={{random 0 10000}}');">
			<img alt="Description of image" src="/random.php?cb={{random 0 10000}}" />
		</div>
	</a>
	<div class="teaser__panel inset">
		<div class="teaser__type-wrapper">
			<span class="teaser__type">Study</span>
		</div>
		<h3 class="teaser__title"><a href="#">Musings: a Made in Goldsmiths exhibition</a></h3>
		<div class="teaser__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ante orci, aliquam sed commodo id, ullamcorper vitae urna. In eu orci fermentum, ultricies tortor a, bibendum nulla. Vivamus rutrum sem quis hendrerit congue.</p>
		</div>
		<a class="teaser__action" href="#">Find out more</a>
	</div>
</article>