<div class="teaser teaser--speakers">
	<div class="teaser__body">
		<ul>
			<li><a href="#">Courttia Newland</a></li>
			<li><a href="#">Courttia Newland</a></li>
			<li><a href="#">Courttia Newland</a></li>
			<li><a href="#">Courttia Newland</a></li>
		</ul>
	</div>
</div>