<article class="teaser teaser--image teaser--recently-updated-series {{class}}">
	<a href="#">
		<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
			<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
		</div>
		<div class="teaser__panel">
			<h3 class="teaser__title"><a href="#">Postcards from a sabbatical</a></h3>
		</div>
	</a>
</article>
