<article class="teaser teaser--alumni-story">
	<a href="#">
		<h3 class="teaser__title">Lisa<span>MA/MSc in Digital Sociology</span></h3>
		<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
				<img src="" />
		</div>
	</a>
	<div class="teaser__body">
		<blockquote class="quote-block quote-block--with-quotation-marks quote-block--full-padding">
			I never thought computing would be creative, but it has been.
		</blockquote>
    	<div class="teaser__panel">
			<p>Before I came to Goldsmiths I’d been working in Digital Media for four years. I didn’t have an immense amount of experience of computing. I’d worked on content management systems before and I’d done a bit of HTML but not in terms of Python or any of the new kinds of tools we’ve learned here. I didn’t know anything about Ushahidi or anything.</p>

			<p>It’s been great – a wonderful learning experience. It’s been really fun learning with a whole bunch of people who are also in the same boat as you are where you don’t really know much about the programs that you’re working with. It’s been a great challenge and an incredibly creative experience. I never thought computing would be creative but it has been.</p>
		</div>
	</div>
</article>