<article class="teaser teaser--programme-large media">
		<div class="teaser__image media__figure" style="background-image:url('/random.php?cb={{random 0 10000}}');">
			<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
		</div>
		<div class="teaser__body media__body">
			<h3 class="teaser__title">BA (Hons) Fine Art & History of Art</h3>
			<p>Designed for students who wish to take up the challenge of contemporary curating as an artistic, social and critical undertaking, and who wish to develop their professional.</p>
			<ul class="tag-list tag-list--indented">
				<li><a href="#">Art</a></li>
				<li><a href="#">Art</a></li>
				<li><a href="#">Art</a></li>
			</ul>
		</div>
</article>