<article class="teaser teaser--image {{class}}">
	<a href="#">
		<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
			<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
		</div>
		<div class="teaser__panel">
			<h3 class="teaser__title">Musings: a Made in Goldsmiths exhibition</h3>
			<span class="teaser__meta">Posted by Lizzy Burt</span>
			<span class="teaser__meta">7 Oct 2014</span>
		</div>
	</a>
</article>
