<article class="teaser teaser--latest-podcasts {{class}} media">
		<div class="media__figure">
			<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
				<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
			</div>
		</div>
		<div class="media__body">
			<h3 class="teaser__title"><a href="#">Returning to my Desk - a Last Postcard</a></h3>
			<div class="teaser__body">
				<p>Les Back</p>
			</div>
			<div class="teaser__more">
				<a href="#">See more details and download</a>
			</div>
		</div>
</article>
