<article class="teaser teaser--text {{class}}">
		<div class="teaser__panel">
			<div class="teaser__type-wrapper">
				<span class="teaser__type">About Us</span>
			</div>
			<h3 class="teaser__title">Welcome to Goldsmiths, University of London</h3>
			<div class="teaser__body">
				<p>A close knit community, a rich academic heritage, a create powerhouse, a thoughtprovoking place.</p>
			</div>
			<a class="teaser__action" href="#">Find out more</a>
		</div>
</article>