<article class="teaser teaser--expert media">
		<div class="teaser__image media__figure" style="background-image:url('/random.php?cb={{random 0 10000}}');">
			<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
		</div>
		<div class="teaser__body media__body">
			<h3 class="teaser__title"><a href="#">Roger Burrows</a></h3>
			<p>Professsor of Sociology & Pro-Warden in Interdisciplinary Development</br><b>@RichardGrayon</b></p>
		</div>
</article>