
<div class="teaser teaser--speakers-search">
	<div class="teaser__body">
		<select>
			<option value="">Select speaker</option>
			<option value="courttia_newland">Courttia Newland</option>
		  	<option value="courttia_newland">Courttia Newland</option>
		  	<option value="courttia_newland">Courttia Newland</option>
		  	<option value="courttia_newland">Courttia Newland</option>
		</select>
	</div>
</div>