<article class="teaser teaser--search-result">
		<h3 class="teaser__title"><a href="#">Musings: a Made in Goldsmiths exhibition</a></h3>
		<div class="teaser__body">
			<p>The research in the Department of <b>Design</b> at Goldsmiths activities is esteemed internationally. &hellip; Researchers in the <b>Design</b> department have been awarded over £4.6 million in research grants &hellip;</p>
		</div>
		<p class="teaser__breadcrumb">
		  <a href="#">Top Level</a> >
		  <a href="#">Second Level</a> >
		  <a href="#">Third Level</a> >
		  Current Item
		</p>
</article>
