<article class="teaser teaser--widescreen">
	<a href="#">
		<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
			<img alt="Description of image" src="/random.php?cb={{random 0 10000}}" />
		</div>
	</a>
	<div class="teaser__panel inset">
		<div class="teaser__type-wrapper">
			<span class="teaser__type">Study</span>
		</div>
		<h3 class="teaser__title"><a href="#">Research degrees</a></h3>
		<a class="teaser__action" href="#">Find out more</a>
	</div>
</article>