<article class="teaser teaser--tweets {{class}} media">
		<div class="media__figure">
			<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
				<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
			</div>
		</div>
		<div class="media__body">
			<h3 class="teaser__title"><a href="#">Goldsmiths</a></h3>
			<div class="teaser__meta">@GoldsmithsUol</div>
			<div class="teaser__body">
				<p>Musings; Free exhibition by technicians who taught students including <a href="#">#TurnerPrize</a> winners: <a href="#">http://ow.ly/CvPOx</a></p>
			</div>
		</div>
</article>
