<article class="teaser teaser--programme {{class}} media">
		<div class="media__figure">
			<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
				<img alt="Description of the image" src="/random.php?cb={{random 0 10000}}" />
			</div>
		</div>
		<div class="media__body">
			<h3 class="teaser__title"><a href="#">MFA in Curating</a></h3>
			<div class="teaser__body">
				<p>Department with a long name, Art & Design, Level</p>
			</div>
		</div>
</article>
