<article class="teaser teaser--image teaser--transparent teaser--gold-stories {{class}}">
	<div class="teaser__image" style="background-image:url('/random.php?cb={{random 0 10000}}');">
	</div>
	<div class="teaser__panel">
		<h3 class="teaser__title">James Blake</h3>
		<span class="teaser__meta">Singer-songwriter</span>
		<div class="teaser__body"><p>Integer nulla massa, facilisis id mollis non, mattis at nibh. Duis quis porttitor dui, in dignissim sapien. Nulla convallis libero in nisi blandit consectetur.</p></div>
	</div>
</article>
