<div class="search-box search-box--other">
	<h3 class="search-box__title">Other uses of 'Design'</h3>
	<ul class="list-styled search-box__suggestion-list">
		<li><a href="#">Research design</a></li>
		<li><a href="#">Research design</a></li>
		<li><a href="#">Research design</a></li>
		<li><a href="#">Research design</a></li>
		<li><a href="#">Research design</a></li>
		<li><a href="#">Research design</a></li>
		<li><a href="#">Research design</a></li>
	</ul>
</div>