<section class="search-box search-box--suggestion">
		<h3 class="search-box__title"><span class="visuallyhidden">Suggestions in </span>Course finder</h3>
		{{> teaser-programme}}
		{{> teaser-programme}}
		{{> teaser-programme}}
</section>