<section class="search-box search-box--suggestion search-box--dark">
	<h3 class="search-box__title"><span class="visuallyhidden">Suggestions in </span>Course finder</h3>
	{{#parseJSON '{"class": "teaser--dark"}'}}
		{{> teaser-programme}}
	{{/parseJSON}}
	{{#parseJSON '{"class": "teaser--dark"}'}}
		{{> teaser-programme}}
	{{/parseJSON}}
	{{#parseJSON '{"class": "teaser--dark"}'}}
		{{> teaser-programme}}
	{{/parseJSON}}
</section>