<section class="search-box search-box--suggestion">
		<h3 class="search-box__title"><span class="visuallyhidden">Suggestions in </span>Departments</h3>
		{{> teaser-search-result-department}}
</section>